.title {
  padding-top: 20px;
  min-width: 100vw;
  text-align: center;
  font-size: 36px;
  color: darkslategray;
  margin-top: 0px;
  margin-bottom: 50px;
  position: absolute;
  top: 0;
  Height: 75px;
  z-index: 6;
}
